<?xml version="1.0"?>
<!--
/**
 * Asyntai Chatbot module configuration
 *
 * @category  Asyntai
 * @package   Asyntai_Chatbot
 * @author    Asyntai <hello@asyntai.com>
 * @copyright Copyright (c) Asyntai
 * @license   MIT License
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Asyntai_Chatbot" setup_version="1.0.0">
        <sequence/>
    </module>
</config>
